@font-face {
  font-family: "iconfont"; /* Project id 1665311 */
  src: url('iconfont.woff2?t=1620371929081') format('woff2'),
       url('iconfont.woff?t=1620371929081') format('woff'),
       url('iconfont.ttf?t=1620371929081') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rename:before {
  content: "\e634";
}

.icon-call:before {
  content: "\eaa7";
}

.icon-help:before {
  content: "\e754";
}

.icon-chevron_right:before {
  content: "\e632";
}

.icon-chevron_left:before {
  content: "\e633";
}

.icon-moon_zzz:before {
  content: "\e866";
}

.icon-sun:before {
  content: "\e630";
}

.icon-protocol:before {
  content: "\e63a";
}

.icon-protect:before {
  content: "\e875";
}

.icon-alarm-on:before {
  content: "\e87e";
}

.icon-chrome:before {
  content: "\ea09";
}

.icon-run:before {
  content: "\e6ae";
}

.icon-tool:before {
  content: "\ee9f";
}

.icon-reload:before {
  content: "\e78c";
}

.icon-infinera_text:before {
  content: "\e62f";
}

.icon-icon_fenzhangfuben:before {
  content: "\e629";
}

.icon-prepare-upgrade:before {
  content: "\e62b";
}

.icon-snapshot:before {
  content: "\e6e3";
}

.icon-row_clearInstance:before {
  content: "\ee9e";
}

.icon-row_resetPassword:before {
  content: "\e63c";
}

.icon-upload:before {
  content: "\e62a";
}

.icon-row_default:before {
  content: "\e625";
}

.icon-activate-file:before {
  content: "\e788";
}

.icon-row_edit_d:before {
  content: "\e65c";
}

.icon-favicon_infinera:before {
  content: "\e620";
}

.icon-row_contract:before {
  content: "\e613";
}

.icon-row_editTime:before {
  content: "\e668";
}

.icon-row_expand:before {
  content: "\e8d1";
}

.icon-row_delete:before {
  content: "\e621";
}

.icon-power-recycle:before {
  content: "\e643";
}

.icon-restart:before {
  content: "\e61f";
}

.icon-row_create:before {
  content: "\e693";
}

.icon-row_edit_e:before {
  content: "\e60d";
}

.icon-timeSlot:before {
  content: "\e61c";
}

.icon-export:before {
  content: "\e651";
}

.icon-bell:before {
  content: "\e61b";
}

.icon-external-link:before {
  content: "\e61d";
}

.icon-link:before {
  content: "\e61e";
}

.icon-lightbulb-o:before {
  content: "\e61a";
}

.icon-users:before {
  content: "\e619";
}

.icon-arrows-alt:before {
  content: "\e618";
}

.icon-filter:before {
  content: "\e616";
}

.icon-file-text-o:before {
  content: "\e615";
}

.icon-dashboard:before {
  content: "\e611";
}

.icon-cog:before {
  content: "\e610";
}

.icon-circle:before {
  content: "\e60f";
}

.icon-bar-chart:before {
  content: "\e60c";
}

.icon-server:before {
  content: "\e60b";
}

.icon-system:before {
  content: "\e609";
}

.icon-remove:before {
  content: "\e607";
}

.icon-information:before {
  content: "\e70d";
}

.icon-alarm:before {
  content: "\e9d2";
}

.icon-sservice:before {
  content: "\e81a";
}

.icon-pm:before {
  content: "\e6f1";
}

.icon-list:before {
  content: "\e626";
}

.icon-home:before {
  content: "\e604";
}

.icon-collapse-up3:before {
  content: "\ee9c";
}

.icon-question:before {
  content: "\e673";
}

.icon-error:before {
  content: "\e60e";
}

.icon-success:before {
  content: "\e605";
}

.icon-warning:before {
  content: "\e612";
}

.icon-close:before {
  content: "\e967";
}

.icon-check-mark:before {
  content: "\e614";
}

.icon-arrow_down:before {
  content: "\e601";
}

.icon-arrow_up:before {
  content: "\e603";
}

.icon-arrow_right:before {
  content: "\e678";
}

.icon-cli:before {
  content: "\e958";
}

.icon-password:before {
  content: "\e692";
}

.icon-head:before {
  content: "\e647";
}

.icon-logout:before {
  content: "\e627";
}

.icon-change:before {
  content: "\e6af";
}

.icon-about:before {
  content: "\e6ca";
}

.icon-switch:before {
  content: "\e60a";
}

.icon-refresh:before {
  content: "\e70c";
}

.icon-real_card:before {
  content: "\e685";
}

.icon-pre_card:before {
  content: "\e65b";
}

.icon-topology1:before {
  content: "\e644";
}

.icon-disabled:before {
  content: "\ed38";
}

.icon-lock:before {
  content: "\e6c9";
}

.icon-maintenance:before {
  content: "\e6c8";
}

.icon-mismatch:before {
  content: "\e6ad";
}

.icon-equipment1:before {
  content: "\e641";
}

