body {
    --border-color: black;
    --background-color: black
}

.__react_component_tooltip {
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    left: -999em;
    opacity: 0;
    padding: 8px 21px;
    position: fixed;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    top: -999em;
    visibility: hidden;
    z-index: 999;
}

.__react_component_tooltip.allow_hover, .__react_component_tooltip.allow_click {
    pointer-events: auto;
}

.__react_component_tooltip::before, .__react_component_tooltip::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
}

.__react_component_tooltip.show {
    opacity: 0.9;
    margin-top: 0;
    margin-left: 0;
    visibility: visible;
}

.__react_component_tooltip.place-top::before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -8px;
    left: 50%;
    margin-left: -10px;
}

.__react_component_tooltip.place-bottom::before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -8px;
    left: 50%;
    margin-left: -10px;
}

.__react_component_tooltip.place-left::before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    right: -8px;
    top: 50%;
    margin-top: -5px;
}

.__react_component_tooltip.place-right::before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    left: -8px;
    top: 50%;
    margin-top: -5px;
}

.__react_component_tooltip .multi-line {
    display: block;
    padding: 2px 0;
    text-align: center;
}


.uuid {
    color: #fff;
    border: 1px solid transparent;
    background-color: var(--background-color);
}

.uuid.place-top {
    margin-top: -10px;
}

.uuid.place-top::before {
    border-top: 8px solid transparent;
}

.uuid.place-top::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top-color: var(--border-color);
    border-top-style: solid;
    border-top-width: 6px;
}

.uuid.place-bottom {
    margin-top: 10px;
}

.uuid.place-bottom::before {
    border-bottom: 8px solid transparent;
}

.uuid.place-bottom::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 50%;
    margin-left: -8px;
    border-bottom-color: var(--border-color);
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.uuid.place-left {
    margin-left: -10px;
}

.uuid.place-left::before {
    border-left: 8px solid transparent;
}

.uuid.place-left::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: -6px;
    top: 50%;
    margin-top: -4px;
    border-left-color: var(--border-color);
    border-left-style: solid;
    border-left-width: 6px;
}

.uuid.place-right {
    margin-left: 10px;
}

.uuid.place-right::before {
    border-right: 8px solid transparent;
}

.uuid.place-right::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -6px;
    top: 50%;
    margin-top: -4px;
    border-right-color: var(--border-color);
    border-right-style: solid;
    border-right-width: 6px;
}

.dark {
    background: #222;
    arrow: '#222'
}

.success {
    background: #8DC572;
    arrow: '#8DC572'

}

.warning {
    background: #F0AD4E;
    arrow: '#F0AD4E'
}

.error {
    background: #BE6464;
    arrow: '#BE6464'
}

.info {
    background: #337AB7;
    arrow: '#337AB7'
}

.light {
    background: #fff;
    arrow: '#fff'
}
